/* BODY */
.body {
  background-color: #f5f9ff;
}


/* MAIN APPLICATION */
.App {
  width: 100%;
  height: 100%;
  bottom: 0;
  text-align: center;
  background-color: #414141;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #414141;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* LOADING ANIMATION */
/* From Loading.io */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


/* HEADER */
.header {
  display: block;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 2.5em;
  text-align: center;
  background: #282828;
  color: white;
  font-size: 200%;
}

.header h1 {
  margin: 0 auto;
  text-align: center;
  padding-top: 1px;
  color: white;
  font-size: 1.2em;
}

.header p {
  vertical-align: middle;
  margin: 0 auto;
  color: white;
  font-size: 0.5em;
  text-align: center;
  bottom: 20px;
}


/* MENU BAR */
.menubar {
  display: block;
  position: relative;
  width: 100%;
  height: 2.5em;
  background: #282828;
  color: white;
  font-size: 100%;
}

.menubar .delineator {
  position: relative;
  margin: auto;
  height: 1px;
  width: 95%;
  background-color: #414141;
}

.menubar table {
  vertical-align: middle;
  padding-top: 0.3em;
  margin: 0 auto;
  width: 70%;
}

.menubar td {
  text-align: center;
}

.menubar a {
  color: white;
  text-transform: uppercase;
  font-weight: 525;
}

.menubar a:hover {
  color: lightgrey;
}

.menubar a:link, a:visited, a:active, a:focus {
  text-decoration: none;
}

.menubar .currentLink::after {
  content: "";
  display: flex;
  position: absolute;
  flex-wrap: nowrap;
  margin: auto;
  margin-top: 0.2em;
  position: inherit;
  background-color: grey;
  width: 12%;
  height: 0.05em;
}


/* CONTENT */
/* Home */
.Home {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.Home h3 {
  color: white;
}

.Home .Instructions {
  color: white;
  font-weight: 500;
  font-size: 1em;
}

.Home .symbolInputBox {
  padding: 0.5em 1em 0.5em 0.5em;
  margin-right: 0.5em;
  border: none;
  border-radius: 0.1em;
}

.Home .symbolInputText {
  color: #282828;
  font-weight: 550;
  font-size: 1.1em;
}

.Home .symbolButton {
  background-color: white;
  padding: 0.4em 1em 0.5em 1em;
  border: none;
  margin: auto;
}

.Home .symbolButton:hover {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.Home .symbolButton:active {
  background-color: lightgrey;
}

.Home .warning {
  color: white;
  width: 50%;
  margin: auto;
  display: block;
  padding-top: 2em;
  font-weight: 200;
  font-size: 0.8em;
}

/* Stock */
.Stock h3 {
  color: white;
  font-size: 1.5em;
}

.Stock .delineator {
  position: relative;
  margin: auto;
  height: 1px;
  width: 50%;
  background-color: grey;
}

.Stock .predictionTable {
  vertical-align: top;
  padding: 0em 0em 0em 0em;
  margin: 0 auto;
  width: 50%;
}

.Stock .predictionTable p {
  color: white;
}

.Stock .predictionTable .lastClose {
  font-weight: 800;
  font-size: 3em;
  color: white;
}

.Stock .predictionTable .downPrediction {
  top: 0;
  font-weight: 800;
  font-size: 3em;
  color: red;
}

.Stock .predictionTable .upPrediction {
  top: 0;
  font-weight: 800;
  font-size: 3em;
  color: green;
}

/* loading */
.loading p {
  color: white;
  font-weight: 500;
  font-size: 1.1em;
}

/* error */
.error h3 {
  color: white;
}

.error p {
  color: white;
}

/* About */
.About {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.About h2 {
  margin-top: 0;
  color: white;
}

.About p, h3, h4, h5, h6 {
  color: white;
}

.About .aboutTable {
  margin: 0 auto;
  text-align: left;
}

.About .aboutTable .aboutHeader {
  width: 20%;
  vertical-align: top;
  text-align: right;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
}

.About .aboutTable .aboutText {
  width: 80%;
  padding-right: 20%;
  color: white;
  font-weight: 300;
  font-size: 0.9em;
  padding-left: 4em;
  padding-bottom: 1em;
}


/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #414141;
}

.footer .delineator {
  position: relative;
  margin: auto;
  height: 1px;
  width: 70%;
  background-color: grey;
}

.footer .text {
  display: block;
  width: 100%;
  bottom: 15px;
  position: absolute;
}

.footer p {
  text-align: center;
  color: white;
  font-weight: 200;
  font-size: 0.8em;
  margin-top: 1px;
  margin-bottom: 1px;
}