/* BODY */
.body {
  background-color: #fbfbfb;
}

/* MAIN APPLICATION */
.App {
  width: 100%;
  height: 100%;
  bottom: 0;
  text-align: center;
  background-color: #fbfbfb;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* LOADING ANIMATION */
/* From Loading.io */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* HEADER */
.header {
  padding: 10px;
  
  text-align: center;
  background: #626362;
  color: white;
  font-size: 20px;
}

.header h1 {
  line-height: 10px;
  text-align: center;
  color: white;
  font-size: 35px;
}

.header p {
  line-height: 15px;
  text-align: center;
  color: white;
  font-size: 15px;
}

/* FOOTER */
.footer1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #626362;
}

.footer2 {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #626362;
}

/* COMPANY INFO (TABLE) */
.StockPageLayoutGroup {
  border-style: none none solid none;
  border-width: 5px;
  border-color: #626362;
  border-spacing: 0px;
  width: 100%;
}

.StockPageLayoutGroup .td1 {
  padding: 5px;
  text-align: left;
  border-style: none solid none none;
  border-width: 5px;
  border-color: #626362;
}

.StockPageLayoutGroup .h5-contact {
  margin-bottom: 5px;
  text-align: center;
}

/*GENERAL INFO (SECTION) */
.genInfo {
  display: inline;
}

.genInfo .h4 {
  margin-left: 0px;
}

/* GENERAL INFO (TABLE) */
.genInfoTable {
  width: 100%;
  line-height: 20px;
  padding: 0px;
  font-size: 14px;
  text-align:left;
}

.genInfoTable .col1 {
  width: 40%;
  text-align: top;
}

.genInfoTable .col2 {
  width: 60%;
}

/* CONTACT INFO (TABLE) */
.contactInfoTable {
  width: 100%;
  padding: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.contactInfoTable td {
  font-weight: 400;
  font-size: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.contactInfoTable .col1 {
  width: 100%;
  text-align: top;
  text-align: center;
}